/* style.css */


/* present on all screens regardless*/

body {
    display: flex; /* Add flex spacing to allow setting content heights */
    flex-direction: column;
    margin: 0; /* Remove default margin */
    min-height: 78vh; /* Ensure main content takes at least x% of current viewport height */

    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6e6e6;
    color: black;
}

header {
    flex-shrink: 0; /* Ensure header doesn't shrink */
    background-color: #465945; /* Background color */
    color: #fff; /* Text color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header a {
    color: #fff; /* Hyperlinked text colour, in header specifically */
}

footer {
    flex-shrink: 0; /* Ensure footer doesn't shrink */
    margin-top: auto; /* Push footer to bottom of page */
    text-align: center;
    padding-top: 50px;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

#verification-form {
    margin-top: 100px;
}

#add-form {
    margin-top: 20px;
}

#signUp {
    background-color: #465945;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#signIn {
    background-color: #465945;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


#signOutButton {
    background-color: #465945;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.browseLink {
    color: #465945;
}

#submit {
    background-color: #465945;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.addBox {
    border-radius: 4px;
    border-color: #465945;
    background-color: white;
    border-width: 1px;
}



/* only on mobiles - baso just less padding */

@media only screen and (max-width: 600px) {

    body {
        padding-top: 110px;
        padding-bottom: 75px;
        width: 90%;
        margin: 0 auto;
    }

    header {
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
    }

    #headTitle {
        font-size: 19px; /* Change 48px to the desired size */
    }

    .headLink {
        font-size: 14px; /* Change 48px to the desired size */
    }

}


/* on larger screens - more padding */

@media only screen and (min-width: 601px) {
    body {
        padding-top: 150px;
        padding-bottom: 75px;
        width: 50%;
        margin: 0 auto;
    }

    header {
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
    }

}
